<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="min-h-screen bg-zinc-900 text-white p-6">
      <a href="/" class="inline-block mb-6 text-blue-400 hover:underline"
        >&larr; Back to Home</a
      >
      <h1 class="text-4xl font-bold mb-4"><%= fileName %></h1>
      <p class="text-lg leading-relaxed text-zinc-200"><%= fileData %></p>
    </div>
  </body>
</html>
